# Ignore Gradle project-specific cache directory
.gradle
.idea
.env
# Ignore Gradle build output directory
build
**/build-info.properties
docs/cli-metadata.json

# Location for unshared files
.user/
.DS_Store


*.iml

# macOS system files
.DS_Store
**/.DS_Store
