name: Tower CLI continuous build
on:
  push:
    branches:
      - '*'
      - '!refs/tags/.*'
    tags-ignore:
      - '*'

jobs:

  linux-image:
    name: Linux
    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
      - name: Environment
        run: env | sort

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Graalvm
        uses: graalvm/setup-graalvm@v1
        with:
          version: '22.0.0.2'
          java-version: '17'
          components: 'native-image'
          native-image-musl: 'true'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Tests
        run: ./gradlew cleanTest test
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GH_SEQERA_TOKEN }}

      - name: Tests reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: linux-test-reports
          path: build/reports/tests/test/

      - name: Build fat JAR
        run: ./gradlew shadowJar

      - name: Upload fat JAR artifact
        uses: actions/upload-artifact@v2
        with:
          name: tw_jar
          path: build/libs/tw.jar

      - name: Build Native Image
        run: ./gradlew nativeCompile
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GH_SEQERA_TOKEN }}
          PLATFORM: linux-x86_64

      - name: Upload linux native image artifact
        uses: actions/upload-artifact@v2
        with:
          name: tw_linux
          path: build/native/nativeCompile/tw

      - name: Binary tests
        run: ./gradlew cleanTest test
        env:
          TOWER_CLI: build/native/nativeCompile/tw
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GH_SEQERA_TOKEN }}

      - name: Binary tests reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: linux-binary-test-reports
          path: build/reports/tests/test/

  mac-image:
    name: MAC
    runs-on: macos-latest
    timeout-minutes: 90

    steps:
      - name: Environment
        run: env | sort

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Graalvm
        uses: graalvm/setup-graalvm@v1
        with:
          version: '22.0.0.2'
          java-version: '17'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Tests
        run: ./gradlew cleanTest test
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GH_SEQERA_TOKEN }}

      - name: Tests reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: mac-test-reports
          path: build/reports/tests/test/

      - name: Build Native Image
        run: ./gradlew nativeCompile
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GH_SEQERA_TOKEN }}
          PLATFORM: osx-x86_64

      - name: Upload Mac native image artifact
        uses: actions/upload-artifact@v2
        with:
          name: tw_mac
          path: build/native/nativeCompile/tw

      - name: Binary tests
        run: ./gradlew cleanTest test
        env:
          TOWER_CLI: build/native/nativeCompile/tw
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GH_SEQERA_TOKEN }}

      - name: Binary tests reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: mac-binary-test-reports
          path: build/reports/tests/test/

  windows-image:
    name: Windows
    runs-on: windows-latest
    timeout-minutes: 90

    steps:
      - name: Environment
        run: env | sort

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Graalvm
        uses: graalvm/setup-graalvm@v1
        with:
          version: '22.0.0.2'
          java-version: '17'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Tests
        run: ./gradlew cleanTest test
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GH_SEQERA_TOKEN }}

      - name: Tests reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: windows-test-reports
          path: build/reports/tests/test/

      - name: Build Native Image
        run: ./gradlew nativeCompile
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GH_SEQERA_TOKEN }}
          PLATFORM: windows-x86_64

      - name: Upload Windows native image artifact
        uses: actions/upload-artifact@v2
        with:
          name: tw_windows
          path: build/native/nativeCompile/tw.exe

      - name: Binary tests
        run: ./gradlew cleanTest test
        env:
          TOWER_CLI: build/native/nativeCompile/tw.exe
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GH_SEQERA_TOKEN }}

      - name: Binary tests reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: windows-binary-test-reports
          path: build/reports/tests/test/

  release:
    name: Release
    if: "contains(github.event.head_commit.message, '[release]') && github.event.ref=='refs/heads/master'"
    needs: [ linux-image, mac-image, windows-image ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Download all build artifacts
        uses: actions/download-artifact@v2

      - name: Setup Java for JReleaser
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Version
        id: version
        run: |
          VERSION=$(cat ./VERSION)
          echo "VERSION = $VERSION"
          echo "::set-output name=VERSION::$VERSION"

      - name: Run JReleaser
        uses: jreleaser/release-action@v1
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_PROJECT_VERSION: ${{ steps.version.outputs.VERSION }}
